
body{
	background-color: #FBE9FB;
	margin: 0;
	font-family: 'Arial';
	}
/*Header design*/
	header{
		background-color: #B73DB5;
		text-align: center;
		padding-bottom: 25px;
		padding-top: 10px;
		margin: 30px;
		border-radius: 120px;
	}

	header h1{
		color: #FBE9FB;
		font-size: 90px;
	}


	header img{
		border-radius: 200px;
		border: 20px solid #FBE9FB;
	}

/*Fonts*/
	h1, h2, h3{
		font-family: 'Bangers', cursive;
		margin: 20px;
	}

/*Fact boxes*/
	.about{
		background-color: purple;
		color: white;
		margin: 20px;
		padding: 30px; 
		font-size: 20px;
	}

	.hobbies{
		background-color: purple;
		color: white;
		margin: 20px;
		padding: 30px; 
		font-size: 20px;
	}

	.food_and_treats{
		background-color: purple;
		color: white;
		margin: 20px;
		padding: 30px; 
		font-size: 20px;
	}

	.gallery{
		margin: 5px;
 		border: 1px solid #ccc;
  		float: left;
  		width: 180px;

		
	}

/*Main design
	main{
		max-width: 800px;
		margin: 0 auto;
	}

	main img{
		max-width: 100%;
	}
*/

/*Footer design*/

